
.form-container{
    width: 45rem;
    height: 45rem;
    background-color: var(--clr-body-bg);
    text-align: center;
    box-shadow: 0 13px 30px rgba(0,0,0,.6);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
}

.signup-title{
    text-align: center;
    color: var(--clr-gr-text);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2%;
}

.signup-input{
    margin-top: 20px;
    width: 50%;
    padding: 10px 0;
    font-size: 1.2rem;
    color: var(--clr-text);
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(19, 10, 10);
    outline: none;
    background: transparent;
    transition: 0.1s;
}
.signup-input:focus{
    border-bottom: 2px solid #287101;
}

.signup-btn{
    width: 30%;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 3px;
    margin-top: 50px;
    border: 0;
    background-color: var(--clr-gr-text);
    color: var(--clr-describe);
    box-shadow: inset 0 0 0 0 #43a011;
    transition: ease-out .3s;
    outline: none;
}

.signup-btn:hover{
    box-shadow: inset 220px 0 0 0 #43a011;
    cursor: pointer;
}


.errors-login{
    width: 100%;
    display: flex;
    justify-content: center;
}

.errors-login-container{
    width: 50%;
    display: flex;
}
.have-acc{
    width: 25%;
    text-align: left;
    font-size: 1.1rem;
}

.error-mesage{
    width: 75%;
}

.signup-error{
    color: red;
    font-size: 1.2rem;
}

.label{
    transform: translateX(50px);
}
