:root{
    --clr-body-bg: rgb(37, 36, 36);
    --clr-text: whitesmoke;
    --clr-gr-text: #287101;
    --clr-describe: whitesmoke;
    --clr-bg-sidebar: #131618;
    --clr-bg-signup: rgb(37, 36, 36);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Dm sans;
    list-style: none;
    text-decoration: none;
  }

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--clr-body-bg);
    
}


/* header */ 
.header1{
    background-color: #4ca919;
    height: 11vh;
    filter: brightness(85%);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
}

.header{
    margin-left: 15vw;
    max-width: 83vw;
    max-height: 10vh;
    height: 9vh;
    
}

.grid-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-item{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: var(--clr-text);
    margin-top: 8px;
}

.image{
    max-width: 6vw;
}

.add{
    background-color: var(--clr-gr-text);
    padding: 0.5vw;
    border-radius: 5px;
    border: 1px solid var(--clr-gr-text);
    color: var(--clr-describe);
    font-size: 1vw;
    transition: filter 0.4s ease-in-out;
}

.add:hover{
    cursor: pointer;
    filter: brightness(80%);
}

.recipes-img{
    max-width: 1.5vw;
    width: 1.5vw;

}

.light-size{
    font-size: 2.5rem;
}

.fa-lightbulb:hover{
    color:yellow;
    cursor: pointer;
}



/* koniec headera */


/* okno szukaj */
.find-container{
    position: fixed;
    width: 100%;
    height: 30%;
    opacity: 0.9;
    background-color: black;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
}

.find-main{
    width: 80%;
    height: auto;
    color: var(--clr-describe);
    font-size: 2.7rem;
    text-align: center;
}
#not-find{
    font-size: 1rem;
}

.find-input{
    width: 30%;
    font-size: 2rem;
    background-color: black;
    opacity: 0.9;
    border: 0;
    color: var(--clr-describe);
    outline: none;
}

.close-container{
    color: var(--clr-describe);
    font-size: 3.5rem;
    position: absolute;
    top: 1rem;
    right: 4rem;
}
.fa-xmark{
    transition: 0.5s ease-in-out;
}

.fa-xmark:hover{
    cursor: pointer;
    color: var(--clr-gr-text);
}
.find-translate{
    transform: translateY(30%);
    transition: 0.5s ease-in-out;
}
.znaleziono{
    background-color: yellow;
}
/* koniec okna wyszukiwania */

/* okno dodawania */
.add-container{
    position: fixed;
    width: 60%;
    height: 80%;
    opacity: 1;
    background-color: black;
    z-index: 1000000;
    display: flex;
    align-items: center;
    transition: 1s;
    transform: translate(-100%, -90%);
    top: -50%;
    left: -50%;
    flex-direction: column;
    gap:10px;
    
}
.add-translate{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.add-close-container{
    color: var(--clr-describe);
    font-size: 3.5rem;
    position: absolute;
    top: 5px;
    right: 20px;
}

.add-input{
    margin-top: 20px;
    width: 40vw;
    padding: 10px 0;
    font-size: 1.2rem;
    color: var(--clr-text);
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    transition: 0.1s;
}

.add-input:focus{
    border-bottom: 2px solid #287101;
}
.add-title{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.add-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-error{
    color:red;
    font-size: 1.2rem;
    text-align: center;
}
.add-main-input{
    width: 40vw;
    height: 55vh;
    background-color: transparent;
    outline: 1px solid white;
    border: 0;
    color: var(--clr-describe);
    padding: 5px;
    font-size: 1.2rem;
    resize: none;
}
.add-main-input:focus{
    outline: 1px solid var(--clr-gr-text);
}
.icons{
    position: relative;
    left:20px;
    top:-50px;
    width: auto;
    height: auto;
    color: var(--clr-describe);
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}
.brightles-main{
    opacity: 0.3;
    transition: .5s;
    pointer-events: none;
}
/* koniec okna dodawania */


/* sidebar nav */
.image-sidebar{
    width: 7vw;
    height: 10vh;
    margin-top:13px;
}

.sidebar{
    position: fixed;
    left: -250px;
    top:0;
    width: 250px;
    height: 100%;
    background-color: black;
    z-index: 1000;
    opacity: 0.9;

}

.sidebar header{
    font-size: 26px;
    display: flex;
    text-align: center;
    line-height: 70px;
    justify-content: center;
}


.sidebar a{
    color: var(--clr-describe);
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    line-height: 65px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: padding-left 0.4s ease-in-out;
}

ul li:hover a{
    padding-left: 25px;
}
.arrow-close{
    height: 100%;
    width: 100%;
    font-size: 80px;
    transition: padding-left 0.4s ease-in-out;
    color: var(--clr-gr-text);
    padding-left: 60px;
    transition: 0.4s;
}
.arrow-close:hover{
    padding-left: 40px;
}
#close:hover{
    cursor: pointer;
}

.center-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar ul a img {
    margin-right: 10px;
}
.translate-sidebar{
    transform: translateX(250px);
    transition: 1.5s;
}
.translate-sidebar-2{
    transform: translateX(-250px);
    transition: 2s;
}

.sadebar-socials{
    width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    position: absolute;
    bottom: 0;
}

.sadebar-item{
    height: 100%;
    font-size: 1.5rem;
}

/* koniec sedebar nav */



/* main kontent */
.sec-1{
    margin-left: 6%;

}

.sec-1-container{
    margin-top: 15vh;
    max-width: 88vw;
    min-height: 10vh;
} 

.grid-wrapper-sec-1{
    max-width: 87.5vw;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 5fr;
    column-gap: 4vw;
    row-gap: 0.4vw;
}

.item-3{
    background-size: 113%;
    background-repeat: no-repeat;
    resize: both;
    position: relative;
    transition: filter 0.5s ease-in-out, background-size 0.4s ease-in-out;
    background-position: center;
    position: relative;
}

.item-3:hover{
    filter: brightness(75%);
    cursor: pointer;
    background-size: 130%;
}
    
.item-3::after{
    content: 'Sprawdź przepis >>';
    background-color: var(--clr-gr-text);
    padding: 0.5vw;
    border-radius: 5px;
    border: 1px solid var(--clr-gr-text);
    color: var(--clr-describe);
    font-size: 1vw;
    position: absolute;
    bottom: 70px;
    left: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
    
}

.item-3:hover::after{
    opacity: 1;
    filter: brightness(110%);
}

.item-title{
font-size: 2vw;
color: var(--clr-text);
text-align: center;
font-weight: 750;
}

.info-grid{
    position: absolute;
    width: 90%;
    height:12%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin-left: 2%;
    bottom: 1px;
}

.info-grid-item-main-describe{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2vw;
    color: var(--clr-describe);
}

.item-4{
    height: 100%;
    color: var(--clr-text);
}

.item-4-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.sec-main-item{
    position: relative;
    background-repeat: no-repeat;
    background-size: 110%;
    resize: both;
    position: relative;
    transition: filter 0.5s ease-in-out, background-size 0.4s ease-in-out;
    background-position: center;
}

.sec-main-item:hover{
    filter: brightness(75%);
    cursor: pointer;
    background-size: 125%;
}

.sec-main-item::after{
    content: 'Sprawdź przepis >>';
    background-color: rgb(166, 53, 53);
    padding: 0.4vw;
    border-radius: 5px;
    border: 1px solid var(--clr-gr-text);
    color: var(--clr-describe);
    font-size: 1vw;
    position: absolute;
    bottom: 65px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;

}

.sec-main-item:hover::after{
    opacity: 1;
    filter: brightness(110%);
}

.sec-main-info{
    position: absolute;
    bottom: 12px;
    left: 8px;
    font-size: 1.8rem;
    color: var(--clr-describe);
    font-weight: 800;
    background-color: var(--clr-gr-text);
    padding: 2px;
    width: 90%;
}

.dish-types{
    width: 100%;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}
.dishes{
    font-size: 1.2vw;
    height: 100%;
    color: var(--clr-gr-text);
    text-align: center;
    width: 8vw;
    margin-top: 0.8%;

}
.dish-link{
    text-decoration: none;
    color: var(--clr-gr-text);
}

.color-hover{
    transition: color 0.35s ease-in-out;
}

.color-hover:hover{
    color: var(--clr-gr-text);
    cursor: pointer;
}

.img-link{
    width: 100%;
    height: 100%;
    position: absolute;
}
/* koniec main kontentu */



/* Sekcje główne o daniach*/

.sec-dish{
    margin-left: 6%;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.4s;
    width: 88vw;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
    
.sec-dish-container{
    min-height: 100vh;
    margin-bottom: 10%;
    margin-top: 5%;    
}

.title-container{
    max-width: 100%;
    height: 8vh;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-gr-text);
    font-weight: 800;

}

.arrow-container{
    font-size: 2vw;
    margin-left: 3%;
}

.arrow-up{
    animation: move 1.8s infinite ease-in-out;
}

@keyframes move{
    0%{transform: translateY(-10px);}
    60%{transform: translateY(20px);}
    100%{transform: translateY(-10px);}
}

.main-container-sec-dish{
    max-width: 100%;
    min-height: 75vh;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:1vw;
}

.item-grid-sec-dish{
    text-align: center;
    color: var(--clr-gr-text);
    font-size: 1.5rem;
    justify-content: center;
}

.check-other-recipes{
    max-width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.main-recipe-2{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    height: 320px;
    background-size: 100%;
    resize: both;
    position: relative;
    transition: filter 0.5s ease-in-out, background-size 0.4s ease-in-out;
    background-position: center;
}

.main-recipe-2:hover{
    filter: brightness(75%);
    cursor: pointer;
    background-size: 110%;
}

.main-recipe-2::after{
    content: 'Sprawdź przepis >>';
    background-color: var(--clr-gr-text);
    padding: 0.5vw;
    border-radius: 5px;
    border: 1px solid var(--clr-gr-text);
    color: var(--clr-describe);
    font-size: 1vw;
    position: absolute;
    bottom: 30px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;

}

.main-recipe-2:hover::after{
    opacity: 1;
    filter: brightness(110%);
}
/* Koniec sekcji głównych o daniach */


/* Sekcja newsletter */
.sec-newsletter{
    margin-left: 6%;
}

.newsletter-container{
    max-width: 88vw;
    min-height: 20vh;
    margin-bottom: 13%;
    color: rgb(176, 176, 57);
}

.newsletter-title{
    width: 100%;
    text-align: center;
}

.newsletter-title > p{
    font-size: 3rem;
}

.newsletter-title > span{
    font-size: 1.5rem;
}

.newsletter-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 2%;
}

.news-input-1{
    width: 12rem;
    padding: 10px;
    border: 1px solid rgb(176, 176, 57);
    font-size: 1rem;
    font-family: Dm sans;
}

.news-input-2{
    width: 20rem;
    padding: 10px;
    border: 1px solid rgb(176, 176, 57);
    font-size: 1rem;
    font-family: Dm sans;
}

.newsletter-button{
    background-color: rgb(202, 202, 43);
    padding: 10px;
    border-radius: 5px;
    border: 0;
    color: var(--clr-describe);
    font-size: 1vw;
    transition: filter 0.4s ease-in-out;
    text-align: center;
}
.newsletter-button:hover{
    cursor: pointer;
    filter: brightness(60%);
}

.newsletter-button > span{
    font-size: 1vw;
    color: var(--clr-describe);
}

.required{
    color: red;
    font-size: 0.8rem;
}

#required1{
    width: 12rem;
}
#required2{
    width: 20rem;
}
#required3{
    width: 6.8rem;
}

.opacity-show{
    opacity:1;
}

.opacity-hide{
    opacity:0;
}

/* Koniec sekcji newsletter */


/* Sekcja o nas info */
.about-site{
    margin-left: 5%;
}

.about-container{
    max-width: 86vw;
    min-height: 30vh;
    margin-bottom: 10%;
    color: var(--clr-text);
    display: flex;
    align-items: center;
}

.about-title{
    width: 60%;
    max-height: 20%;
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
}
.about-title > img{
    max-width: 14vw;
}
.about-info{
    width: 73%;
    font-size: 1.1rem;
}
/* Koniec sekcji o nas info */


/* Stopka - footer */

.footer-container{
    color: var(--clr-text);
    max-width: 100%;
    min-height: 10vh;
    margin-bottom: 0.5%;
}

.hr-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.footer-line{
    border: 2px solid var(--clr-gr-text);
    width: 80%;
}


.footer-socials{
    width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.footer-item{
    height: 100%;
    font-size: 3.5rem;
}

.footer-link{
    text-decoration: none;
    color: var(--clr-text);
}


/* Koniec stópki - footer */

/* media  */
@media(prefers-reduced-motion){
    .sec-dish {
        transition: none;
    }
}
/* media koniec */